@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); /* font-family: 'Karla', sans-serif; */
/* Farbe: #323A45 / #848484 */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    width: 138vh;
    margin: 0 10vh;
    font-family: 'Karla', sans-serif;
    color: #323A45;
}
h1{
    font-size: 1.3em;
    font-weight: bolder;
}
a{
    color: unset;
    text-decoration: none;
    font-size: 0.9em;
}
/* header */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}
nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    text-decoration: none;
}
/* große Bildergallery */
.bigSection{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 94% 2.5% 3.5%; 
    padding-bottom: 5%;
}
.bigPicture{
    width: 111%;
}
.bigDiscripton{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: start;
    padding-top: 20px;
}
.bigGray{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: end;
    justify-self: start;
    color: #848484;
}
.doller{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
    justify-self: end;
}
/* kleine Bildergallery */
.smallSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 5%;
}
.container{
    display: grid;
}
.underPic{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 40px 20px;
    align-items: center;
    margin-bottom: 30px;
}
.smallPicture{
    width: 100%;
    height: 100%;
}
.end{
    justify-self: end;
}
section p:last-child{
    color: #848484;
}

footer{
    display: grid;
    grid-template-columns: 35% 16% 24% 25%;
    grid-template-rows: repeat(2, 70px);
    margin-bottom: 5%;
}
footer p:nth-of-type(1){
    width: 335px;
    line-height: 30px;
}
footer p:nth-of-type(2){
    width: 100px;
    line-height: 30px;
}
footer p:nth-of-type(3){
    width: 220px;
    line-height: 30px;
}
footer p:nth-of-type(4){
    width: 120px;
    line-height: 30px;
}
span{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}
.copyright{
    color: #848484;
    margin-bottom: 2%;
}